@import url(https://fonts.googleapis.com/css?family=Roboto);
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', serif;
  line-height: 30px;
  background-color: rgb(245, 237, 227);
}
/*Creating a nav-menu on top of the webpage*/
nav {
  background-color: #cb4f47;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 120px;
}
.nav-main-container{
  display: flex;
  align-items: center;
}
/*Styling of elements in the nav-menu*/
.nav-menu {
  font-family:  'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: large;
  color: black;
  font-weight: bold;
  margin-left: 38px;
}
/*Making it clear for the user that their mouse is hovering over the element*/
.nav-menu:hover{
  color: white;
}
nav img{
  height: 100px;
}
ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}
.nav-main-container li {
  margin-left: 10%;
}
/*Hiding the checkbox*/
#toggle-menu-checkbox {
  display: none;
}
/*Dropdown that appears when the "burger-bar" checkbox is checked - hidden by default*/
.nav-dropdown {
  display: none;
  flex-direction: column;
  margin-top: 0%;
  right: 0; 
  left: auto; 
  background-color: #cb4f47;
  z-index: 1; /*Making sure the dropdown appears over all other elements on the page.*/
  border-radius: 0 0 10px 10px;
  padding: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
}
/*Styling the Google Maps iFrame*/
iframe{
  width: 40%;
  height: 100px;
  border: 2px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
} 
/*Hiding the nav-menu when the screen has a width of 1080px or less, the "hamburger" button will show up, when clicked the dropdown appears.*/
@media (max-width: 1080px) {
  .toggle-menu{
    display: flex; 
    flex-direction: column; 
    cursor: pointer; /*Changes what the mouse looks like to clearly show the user it's clickable. */
    background-color: #000000;
    width: 40px;
    height: 36px;
    margin-left: auto; 
    margin-right: 7%;
    border-radius: 4px;
  }
  /*Styling the burger-bars*/
  .burger-bar{
    width: 80%;
    height: 4px;
    background-color: rgb(245, 237, 227);
    margin: 10%;
    border-radius: 2px;
  }
  /*Made my own clickable "X" that changes size depending on screen width, so that I avoid adding a button.*/
  .x-line1{
    width: 8%;
    height: 5px;
    background-color: rgb(245, 237, 227);
    border-radius: 2px;
    margin-left: auto;
    transform: rotate(45deg) translate(6.5px, 5px);
  }
  .x-line2{
    width: 8%;
    height: 5px;
    background-color: rgb(245, 237, 227);
    border-radius: 2px;
    margin-left: auto;
    transform: rotate(-45deg) translate(-2px, 3px);
  }
  .nav-dropdown li {
    margin-bottom: 20px;
  }
  #toggle-menu-checkbox {
    display: none;
  }
  .toggle-menu:hover {
    background-color: gray;
  }
  .nav-main-container{
    display: none;
  }
  /*Source for inspiration for the checkbox, so that I can avoid the use of JS: https://www.youtube.com/watch?v=qdYNYsV9_08&ab_channel=KevinPowell*/
  input:checked + .toggle-menu .x-line1 { 
    display: flex;
  }
  input:checked + .toggle-menu .x-line2 {
    display: flex;
  }
  input:checked + .toggle-menu .nav-dropdown{
    display: flex;
  }
  input:checked + .toggle-menu{
    background-color: #cb4f47;
  }
  input:checked + .toggle-menu .burger-bar{
    display: none;
  }
  .text-overlay{
    display: none;
  }
  iframe{
    width: 80%;
  }
}
h1 {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 150px;
}
#header {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 300%;
  text-align: left;
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 7%;
}

/*Creating a footer with a gradual colour shift*/
footer {
  background-image: linear-gradient(#cb4f47, #200c0cfa);
  color:#cb4f47;
  padding-bottom: 30px;
  padding-top: 10px;
  height: 250px;
}

/*Styling for the elements inside the footer*/
footer p {
  color:#d5d5d5;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 50px;
}
/*font used before: 'Courier New', Courier, monospace;*/

footer img{
  height: 30px;
  width: 250px;
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Styling the clickable elements in the footer*/
.tlf{
  text-decoration: none;
  color: #e4e4e4;
}
.mail{
  text-decoration: none;
  color: #e4e4e4;
}
.tlf:hover{
  color: #000000;
}
.mail:hover{
  color: #000000;
}
.main-img{
  height: 60%;
  width: 60%; 
}
.main-container-campus{
  text-align: center;
  align-items: center;
  margin-top: 30px;
}
/*Using a div-box to create my own horizontal line*/
.horizontal-line{
  border-bottom: 1px solid black;
  margin-top: -6%;
  width: 60%;
  margin-left: 20%;
}
/*Styling for text in contents*/
.contents{
  text-align: left;
  width: 40%;
  margin-left: 30%;
  font-size:large;
  margin-bottom: 25px;

}
/*Changing content size based on screen width to increase readability*/
@media (max-width: 1080px){
  .contents{
    width: 80%;
    margin-left: 10%;
  }
  #header{
    margin-left: 10%;
  }
}

.main-footer-text{
  margin-top: 45px;
  font-size: 14px;
}
.footer-text{
  margin-top: -10px;
  font-size: 14px;
}
.main-container-library {
  position: relative;
  width: 100%;
  max-width: 100%; 
}
.books-img {
  width: 100%;
  height: auto;
  display: block; 
}
/*Creating the see-through black box behind the text to create good contrast between text and background, increasing readability.*/
.text-overlay {
  position: absolute;
  top: 10%; 
  left: 10%; 
  right: 10%; 
  font-size: 5vw; 
  width:fit-content;
  background-color: rgba(1, 1, 1, 0.78); 
  color: rgb(245, 237, 227);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box; 
}
/*Content of library site*/
.container-content {
  position: relative; 
  color: black;
  max-width: 100%; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  margin: 0 5%; 
}
.library-header{
  margin: 1% 5%; 
  padding: 0;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.library-subheader{
  margin: 1% 5%; 
  padding: 0;
  font-weight: bold;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Image appearing beside the text in library*/
.study-place-img{
  width: 200%;
  margin: 0 5% 5% 0;
}
.library-bottom-content{
  display: flex;
  align-items: flex-start;
}
/*Putting the image in libraries below the text when the screen gets a width of 1080px or below*/
@media (max-width: 1080px){
  .library-bottom-content {
    flex-direction: column;
  }
  .study-place-img {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Eateries page */
h1 {
  padding: 20px;
  text-align: center;
  margin-bottom: auto;
  line-height: 1.5;
}
 
h2 {
  text-align: center;
  font-weight: lighter;
  line-height: 1.5;
  padding: 50px;
  color: #281b18;
}

/* Responsivity */
@media only screen and (max-width: 600px) {
  .place{
      position: unset;
      float: unset;
 }
}
/* positioning of name so that it is in line with the picture */
* {
  box-sizing: border-box;
}
.wrapper-eateries {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 7px;
}
.eateries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 500px));
  grid-gap: 1,5rem;
}
.eatery-info {
  position: relative;
}
/* space between image and info about eatery */
.eateries > .eateries-info > img {
  margin-right: 50px;
  margin-left: 50px;
}

/* adjust place and make it bold */
.place {
  grid-area: place;
  padding-left: 3px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

/* the name of the eatery, font-settings and padding */
.eatery-place {
 grid-area: eatery;
 font-size:x-large;
 font-weight: bolder;
 padding-left: 10px;
}
/* description/info about the eateries w/container (so that description comes under and under each other) */

.description {
  grid-area: description;
  margin: 1;
  padding-left: 10px;
  margin-right: 40px;
  position: relative;
}

.opening-hours {
  font-weight: bolder;
 } 

.col-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
/* spacing between text and icons */

.eatery-picture {
 max-width: 600px;
 max-height: 300px;
 border: 3px solid rgb(39, 30, 30);
 box-shadow: 3px 4px #423636;
}

.vegetarian-icon {
  margin-top: 5px;
  margin-bottom: 35px;
  padding-top: 5px;
  height: 60px;
}
.gluten-icon {
  margin-top: 5px;
  margin-bottom: 35px;
  padding-top: 5px;
  height: 60px;
 }
 .coffee-icon {
  margin-top: 5px;
  margin-bottom: 35px;
  padding-top: 0;
  height: 60px;
 }
 .location-icon {
  height: 22px;
  float: left;
  padding-left: 5px;
  margin-top: 3px;
 }


 
/* Topical page */
/* Creating a grid to "place" boxes with the website content */
.wrapper-topical {
  display: grid;
  grid-template-columns: 13vw auto minmax(100px, 10vw) 70vw;
  grid-auto-rows: minmax(100px, auto);
}
/* Creating the boxes and giving them placements in the grid */
.topical-main-box {
  grid-column: 2 / span 3;
  grid-row: 1;
}
.topical-secondary-box {
  grid-column: 3 / 4;
  grid-row: 2;
  width: minmax(auto, 40vw);
  height: 40vw;
  max-height: 530px;
}
.topical-tertiary-box {
  grid-column: 1 / 2;
  grid-row: 1;
  background-color: #cb4f47;
}
/* Styling/customizing the content such as text, headers, etc. In the boxes*/
.topical-header {
  padding: 20px;
  text-align: center;
  margin-bottom: auto;

}
.topical-content {
  font-size: 17px;
  margin-left: 0.2em;
  list-style-type: disc;
}
.topical-content-tertiary {
  font-size: 17px;
  margin-left: 1.5em;
  margin-right: 0.5em;
  list-style-type: disc;
}
/* Making hyperlinks not "stylized" as it crashed with the website theme*/
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
/* Added space between the list elements for aesthetic reasons*/
.topical-li:not(:last-child) {
  margin-bottom: 5px;
}
/*Making it clear which link the user is hovering their mouse over.*/
.topical-li:hover{
  color: white;
}
.image-container {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* For accessability on smaller or thinner screens, makes the boxes go underneath each other instead of beside*/
@media only screen and (max-width: 800px) {
.wrapper-topical {
  display: flex;
  position: sticky;
  flex-direction: column;
  justify-content: left;
  padding-right: 0.2em;
  align-items: left;
}
  .topical-main-box{
    grid-column: 1 / 3;
    grid-row: 1;
    padding-left: 0.2em;
  }
  .topical-secondary-box{
    grid-column: 1 / 3;
    grid-row: 2;
    padding-left: 0.2em;
  }
  .topical-tertiary-box{
    grid-column: 1 / 3;
    grid-row: 3;
    padding-bottom: 2em;
  }
  .topical-content {
    font-size: 20px;
  }
}
/* Accessibility*/
/*Simple styling of elements inside the accessibility page*/
.accessibility-box{
  margin-left: 20%;
}
.accessibility-header{
  padding: 20px;
  text-align: center;
  margin-bottom: auto;
}
.accessibility-list{
  list-style:square;
  padding-left: 17px;
}
.wave-test {
  max-width: 80%;
  display: flex;
  height: 30%;
  padding-top: 1%;
  padding-left: 20%;
  padding-bottom: 2vw;
}

.accessibility-subheader{
  text-align: start;
  margin-left: 20%;
  padding: 0;
  font-weight: bolder;
}
.accessibility-content{
  margin-left: 20%;
  max-width: 60%;
  line-height: 1,5;
}