body{
    padding: 0;
    margin: 0;
    background-color: rgb(245, 237, 227);
}
nav {
    background-color: #cb4f47;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    margin: auto;
    font-size: large;
    color: black;
    font-weight: bold;
}
nav a :hover{
    color: #A73E38;
}

nav img{
  height: 100px;
}
h1 {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 150px;
}

#overskrift {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 40px;
  text-align: left;
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 150px;
}


.article {
    margin-left: 60rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}

/*@media screen and (min-width:839px) eateries
   margin-bottom: 32px; 
   */

    
.grid-container-eateries{
    display:inline-grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    column-gap: 300px;
    row-gap: 300px;
    align-items: center;
    justify-items: center;
}

.footer {
    position: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: #000000;
    background-color: #7c6565;
    display: center;
    text-align: center;
    
}
footer {
    background-image: linear-gradient(#a6413a, #331613);
    color:#5c2c28;
    height:180px;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  footer p {
    color:aliceblue ;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 50px;
}
  footer img{
    height: 33px;
    width: 280px;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
  }
  .tlf{
    text-decoration: none;
    color: aliceblue;
  }
  .mail{
    text-decoration: none;
    color: aliceblue;
  }
  .tlf:hover{
    color: #000000;
  }
  .mail:hover{
    color: #000000;
  }
  .hovedbilde{
    height: 60%;
    width: 60%;
    
}
.main-container{
    text-align: center;
    align-items: center;
    margin-top: 30px;
}
section{
    margin-bottom: 20px;
}
.horisontal-linje{
    border-bottom: 1px solid black;
    margin-top: -6%;
    width: 60%;
    margin-left: 20%;
}
.innhold-tekst{
    text-align: left;
    width: 40%;
    margin-left: 30%;
    font-size:large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
iframe{
    width: 40%;
    height: 100px;
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
}
.hoved-footer-tekst{
  margin-top: 40px;
}
.footer-tekst{
  margin-top: -5px;
}