body{
  padding: 0;
  margin: 0;
  background-color: rgb(245, 237, 227);
}
/*Lager en nav meny på toppen av skjermen.*/
nav {
  background-color: #cb4f47;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100px;
}
.nav-main-container{
  display: flex;
  align-items: center;
}
/*Styling av elementene i nav menyen*/
.nav-menu {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: large;
  color: black;
  font-weight: bold;
  margin-left: 38px;
}
/*Når musen er over elementene i nav skifter de farge for at bruker skal klart se hva de trykker på.*/
.nav-menu:hover{
  color: white;
}
nav img{
  height: 100px;
}
ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}
.nav-main-container li {
  margin-left: 10%;
}
#toggle-menu-checkbox {
  display: none;
}
/*Dropdown fra "hamburger" knapp når siden blir mindre - skjult foreløpig*/
.nav-dropdown {
  display: none;
  flex-direction: column;
  margin-top: 7%;
  right: 0; 
  left: auto; 
  background-color: #cb4f47;
  z-index: 1; /*Passer på at dropdownen legger seg oppå de andre elementene.*/
  border-radius: 0 0 10px 10px;
  padding: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
}
/*Skjuler elementer i nav-baren når skjermen blir mindre enn 820px bred, da dukker også "hamburger" knappen opp, som skaper dropdownen som er mer egnet for tynnere skjermer.*/
@media (max-width: 1080px) {
  .toggle-menu{
    display: flex; 
    flex-direction: column; 
    cursor: pointer; /*Endrer hvordan musepeker ser ut for å vise at den er klikkbar */
    background-color: #000000;
    width: 40px;
    height: 36px;
    margin-left: auto; /*Putter dropdown knappen til høyre*/
    margin-right: 7%;
    border-radius: 4px;
  }
  /*De hvite stripene som gir knappen "burger" looken.*/
  .burger-bar{
    width: 80%;
    height: 4px;
    background-color: rgb(245, 237, 227);
    margin: 10%;
    border-radius: 2px;
  }
  /*Lagde egen X for å kunne bruke checkboxen som eneste knapp på skjermen.*/
  .x-line1{
    width: 8%;
    height: 5px;
    background-color: rgb(245, 237, 227);
    border-radius: 2px;
    margin-left: auto;
    transform: rotate(45deg) translate(6.5px, 5px);
  }
  .x-line2{
    width: 8%;
    height: 5px;
    background-color: rgb(245, 237, 227);
    border-radius: 2px;
    margin-left: auto;
    transform: rotate(-45deg) translate(-2px, 3px);
  }
  .nav-dropdown li {
    margin-bottom: 20px;
  }
  #toggle-menu-checkbox {
    display: none;
  }
  .toggle-menu:hover {
    background-color: gray;
  }
  .nav-main-container{
    display: none;
  }
  /*Kilde for inspirasjon til denne boksen https://www.youtube.com/watch?v=qdYNYsV9_08&ab_channel=KevinPowell*/
  input:checked + .toggle-menu .x-line1 { 
    display: flex;
  }
  input:checked + .toggle-menu .x-line2 {
    display: flex;
  }
  input:checked + .toggle-menu .nav-dropdown{
    display: flex;
  }
  input:checked + .toggle-menu{
    background-color: #cb4f47;
  }
  input:checked + .toggle-menu .burger-bar{
    display: none;
  }
  .text-overlay{
    display: none;
  }
  .logo-img{
    display: none;
  }
}
h1 {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 150px;
}
#header {
  font-family: 'Lucida Sans', sans-serif;
  font-size: 300%;
  text-align: left;
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 7%;
}

/*Lager en footer på bunnen av skjermen der fargen blir gradvis mørkere jo lengre ned på footeren.*/
footer {
  background-image: linear-gradient(#a6413a, #331613);
  color:#5c2c28;
  padding-bottom: 30px;
  padding-top: 10px;
  height: 180px;
}
/*Stilen til elementene i footern*/
footer p {
  color:aliceblue ;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 50px;
}
footer img{
  height: 33px;
  width: 280px;
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.tlf{
  text-decoration: none;
  color: aliceblue;
}
.mail{
  text-decoration: none;
  color: aliceblue;
}
.tlf:hover{
  color: #000000;
}
.mail:hover{
  color: #000000;
}
.main-img{
  height: 60%;
  width: 60%; 
}
.main-container-campus{
  text-align: center;
  align-items: center;
  margin-top: 30px;
}
.horizontal-line{
  border-bottom: 1px solid black;
  margin-top: -6%;
  width: 60%;
  margin-left: 20%;
}
.contents{
  text-align: left;
  width: 40%;
  margin-left: 30%;
  font-size:large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 25px;
}
@media (max-width: 1080px){
  .contents{
    width: 80%;
    margin-left: 10%;
  }
  #header{
    margin-left: 10%;
  }
}

iframe{
  width: 40%;
  height: 100px;
  border: 2px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
}
.main-footer-text{
  margin-top: 45px;
  font-size: 14px;
}
.footer-text{
  margin-top: -5px;
  font-size: 14px;
}
.main-container-library {
  position: relative;
}
.books-img {
  width: 100%;
  height: auto;
}
.text-overlay {
  position: absolute;
  top: 10%; 
  left: 10%; 
  font-size: 5vw; 
  background-color: rgba(1, 1, 1, 0.78); /*https://rainbow.rodneylab.com/ */
  color: rgb(245, 237, 227);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  border-radius: 10px;
}
.container-content {
  position: relative; 
  color: black;
  max-width: 100%; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  margin: 0 5%; 
}
.library-header{
  margin: 1% 5%; 
  padding: 0;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.library-subheader{
  margin: 1% 5%; 
  padding: 0;
  font-weight: bold;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.study-place-img{
  width: auto;
  max-width: 50%;
  margin: 0 5% 5% 0;
}
.library-bottom-content{
  display: flex;
  align-items: flex-start;
}

/* Canteen page */
h1 {
  padding: 20px;
  text-align: center;
  margin-bottom: auto;
  line-height: 1.5;
}
 
h2 {
  text-align: center;
  font-weight: lighter;
  line-height: 1.5;
  padding: 50px;
  
  color: #281b18;
  
  
}

/* Responsivity */
@media only screen and (max-width: 600px) {
  .place{
      position: unset;
      float: unset;
 }
}
/* positioning of name so that it is in line with the picture */
* {
  box-sizing: border-box;
}
.wrapper-eateries {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.eateries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 500px));
  grid-gap: 1,5rem;
}
.eatery-info {
  position: relative;
}
/* space between image and info about eatery */
.eateries > .eateries-info > img {
  margin-right: 50px;
  margin-left: 50px;
}

/* adjust place and make it bold */
.place {
  grid-area: place;
  padding-left: 3px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

/* the name of the eatery, font-settings and padding */
.eatery-place {
 grid-area: eatery;
 font-size:x-large;
 font-weight: bolder;
 padding-left: 10px;
}
/* description/info about the eateries w/container (so that description comes under and under each other) */

.description {
  grid-area: description;
  margin: 1;
  padding-left: 10px;
  margin-right: 40px;
  position: relative;
}
.col-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
/* spacing between text and icons */

.eatery-picture {
 max-width: 600px;
 max-height: 300px;
 border: 3px solid rgb(39, 30, 30);
 box-shadow: 3px 4px #423636;
}

.vegetarian-icon {
  margin-top: 5px;
  margin-bottom: 35px;
  padding-top: 5px;
  height: 60px;
}
.gluten-icon {
  margin-top: 5px;
  margin-bottom: 35px;
  padding-top: 5px;
  height: 60px;
 }
 .coffee-icon {
  margin-top: 5px;
  margin-bottom: 35px;
  padding-top: 0;
  height: 60px;
 }

 .location-icon {
  height: 22px;
  left: 10px;
  top: 0;
  float: left;
  padding-left: 1px;
 }


 